<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
  <h1>
    Dashboard
    <small>Version 2.0</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="#">Dashboard</li>
    <li class="active">Marcas</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  Marcas
  <h3 class="first">Basic</h3>
<p-dataTable [value]="brands" [loading]="loading">
    <p-column field="brand_name" header="Vin"></p-column>
    <p-column field="status" header="Year"></p-column>
    <p-column field="created_at" header="Brand"></p-column>
    <p-column field="update_at" header="Color"></p-column>
</p-dataTable>

<h3>Dynamic Columns</h3>
<p-dataTable [value]="brands">
    <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"></p-column>
</p-dataTable>

<p-dataList [value]="brands" [paginator]="true" [rows]="2">
  <p-header>
      List of Cars
  </p-header>
  <ng-template let-brand pTemplate="item">
      <div class="ui-g ui-fluid car-item">
          <div class="ui-g-12 ui-md-3" style="text-align:center">
              <img src=".{{brand.cover}}">
          </div>
          <div class="ui-g-12 ui-md-9 car-details">
              <div class="ui-g">
                  <div class="ui-g-2 ui-sm-6">Nome: </div>
                  <div class="ui-g-10 ui-sm-6">{{brand.brand_name}}</div>
                  
                  <div class="ui-g-2 ui-sm-6">Status: </div>
                  <div class="ui-g-10 ui-sm-6">{{brand.status}}</div>
                  
                  <div class="ui-g-2 ui-sm-6">Data De Criação: </div>
                  <div class="ui-g-10 ui-sm-6">{{brand.created_at}}</div>
                  
                  <div class="ui-g-2 ui-sm-6">Atualizado: </div>
                  <div class="ui-g-10 ui-sm-6">{{brand.update_at}}</div>
              </div>
          </div>
      </div>
  </ng-template>
</p-dataList>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
